h1 {
  color: red;
  border: 2 px;
}

p



  margin-top: 100px;
   margin-bottom: 100px;
   margin-right: 150px;
   margin-left: 80px;
   padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px;
font-family:cursive;
 @font-face {


 h1 {
   color: red;
 }

p {
  color: pink;
}
